.entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 45px 55px;
}

.entry {
    flex-basis: 28%;
    padding: 20px;
    margin: 10px;
    border: 1px solid goldenrod;
    align-content: center;
    background: white;
    color: rgba(139, 71, 31, 0.9);
    font-style: normal;
    font-size: 14px;
    max-width: 500px;
}

.details {
    align-content: center;
    margin: 2px 2px;
    padding: 1em;
    text-align: justify;

}

.img {
    align-content: center;
    position: absolute;
}

.entrytxt {
    width: 75%;
    margin: 0 auto;
}

.buttons {
    text-align: center;
}

.btn {
    background: rgb(255, 255, 255);
    padding: 5px 22px;
    margin: 5px;
    color: rgba(139, 71, 31, 0.9);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    font-family: Inter;
}

.btn.active,
.btn:hover {
    color: rgb(227, 182, 127);
    transition: .5s;
    cursor: pointer;
}

ul {
    list-style-type: none;
    text-align: center;
}

.createform {
    background-color: white;
    width: 70%;
    margin: 20px;
    padding: 20px;
}

.editform {
    background-color: white;
    width: 70%;
    margin: 20px;
    padding: 20px;
}

h3 {
    color: rgba(139, 71, 31, 0.9);
}

textarea {
    font-family: Inter;
    font-size: 15px;
}

.searchbox {
    display: flex;
    padding: 6px;
    border: none;
    margin-top: 28px;
    margin-left: 81%;
    font-size: 20px;
    border-radius: 2px;
}