.entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px;
}

.entry {
    flex-basis: 28%;
    padding: 20px;
    margin: 10px;
    border: 1px solid goldenrod;
    align-content: center;
    width: 40px;
    background:white;
    color: rgba(139, 71, 31, 0.9);
    font-style:normal;
    font-size: 14px;
}

.details {
    align-content: center;
    margin: 2px 2px;
    padding: 1em;

}

.img {
    align-content: center;
    position: absolute;

}

.buttons {
    text-align: center;
}

.btn {
    background: rgb(255, 255, 255);
    padding: 5px 22px;
    margin: 5px;
    color: rgba(139, 71, 31, 0.9);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    font-family: Inter;
}

.btn.active, .btn:hover {
    color: rgb(227, 182, 127);
    transition: .5s;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.createform {
    background-color: white;
    width: 70%;
    margin: 20px;
    padding: 20px;
}

.editform {
    background-color: white;
    width: 70%;
    margin: 20px;
    padding: 20px;
}
