body {
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(190, 121, 81, 0.9)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  color:rgba(139, 71, 31, 0.9);
}

fieldset {
  color: rgba(139, 71, 31, 0.9);
}