@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
} 

nav {
    background: white;
    height: 90px;
    width: 100%;
}

label.logo {
    color: rgba(190, 121, 81, 0.9);
    font-size: 62px;
    line-height: 90px;
    padding: 0 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 90px;
    margin: 0 10px;
}

nav ul li a{
    color: rgba(190, 121, 81, 0.9);
    font-size: 25px;
}

.logout {
    color: rgba(190, 121, 81, 0.9);
    font-size: 25px;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Inter';
    font-weight: 700;
    cursor: pointer;
}

.logout.active, .logout:hover {
    color: rgb(227, 182, 127);
    transition: .5s;
}

.a.active, a:hover {
    color: rgb(227, 182, 127);
    transition: .5s;
}